# Go binaries
taraDrop
taraDrop.exe

# Go build artifacts
*.o
*.a
*.so

# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# App Data
uploads/

# OS
.DS_Store
Thumbs.db

# Content Drafts
blog_post.md
linkedin_id.md
linkedin_en.md
